* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 156px;
}

.header {
    min-height: 500px;
    background-color: #4694DC;
    padding-top: 82px;
    padding-bottom: 82px;
    color: white;
}
.header-title {
    font-size: 56px;
    font-weight: 600;
    margin-bottom: 38px;
}
.header-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 437px;
    margin-bottom: 45px;
}
.header-btn {
    width: 194px;
    height: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

@media screen and (max-width: 1366px) {
    .team .container {
        padding: 0 15px;
    }
}

@media screen and (max-width: 1024px) {
    .team_items {
        flex-direction: column;
        align-items: center; 
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 15px;
    }
    .services_items {
        flex-direction: column;
        align-items: center;
    }
    .services_items_title {
        font-style: 14px;
    }
    .header-btn {
        width: 160px;
        font-style: 14px;
    }
}

@media screen and (max-width: 400px) {
    .header-title {
        font-size: 36px;
    }
}

.services .block {
    text-align: center;
    margin-bottom: 118px;
}
.block_title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin-bottom: 25px;
}
.block_text {
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 24px;
    font-weight: 400;
    color: #9CA3AF;
    max-width: 465px;
    margin: 0 auto;
}

.services {
    padding: 88px 0 166px;
}

.services_items {
    display: flex;
    gap: 24px;
    justify-content: space-between;
    max-width: 888px;
    margin: 0 auto;
}

.item {
    max-width: 280px;
    width: 100%;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services_items_img {
    align-self: center;
}

.team .block {
    text-align: center;
    margin-bottom: 81px;
}

.team  {
    padding-bottom: 130px;
}
.team_items {
    display: flex;
    max-width: 880px;
    justify-content: space-between;
    margin: 0 auto;
    gap: 50px;
}
.team_item {
    display: flex;
    padding: 20px;
    background-color: #fff;
    max-width: 260px;
    width: 100%;
    height: 76px;
    border-radius: 11px;
    align-items: center;
    box-shadow: 0px 4px 70px 0px rgba(91, 93, 99, 0.06);
}
.team_img {
    align-self: center;
    margin-right: 8px;
}

.team_title {
    font-size: 12px;
    margin-bottom: 3px;
    margin-top: 5px;
}
.team_text {
    margin-top: 0;
    font-size: 11px;
    color: #9CA3AF;
    font-style: italic;
}
